body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,.700), rgba(0,0,0,.700)), url("img/World Map.svg") no-repeat center center fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

}

header nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #45559d;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    font-size: 1.5rem;
    color: #000309;
    font-weight: bold;
    cursor: pointer;
}

nav ul li {
    position: relative;
    float: left;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #000000;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

nav ul li ul {
    padding: 0;
    position: absolute;
    width: 100%;
    background: #ffffff;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

nav ul li:hover > ul {
    display: initial;
}

main {
    padding: 30vh;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
     color: #ffffff;
    font-size:55px;
 }